body {
    font-family: Arial;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

section {
    background-color: white;
    margin: 30px auto;
    padding: 30px;
    width: 80%;
}

h2 {
    color: #333;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}